.cart-detail {
  min-height: 100vh;

  .cart-title {
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 2rem;
    font-size: 4rem;
  }
  .cart-state {
    padding: 3rem 2rem;
    color: #000;
    text-align: center;
    font-size: 4rem;
  }
}

%btn {
  padding: 4px 16px;
  color: #ffffff;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.detail-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: #d5d8dc;
  margin-top: 1rem;
  padding: 1rem 0;

  .list-img {
    grid-column: 1 / 2;
    margin: 0 0 0 12rem;
    img {
      height: 8rem;
      width: auto;
    }
  }
  .list-info {
    align-items: center;
    grid-column: 2 / 3;
    display: flex;
    height: 4rem;
    background-color: #d5d8dc;
    width: auto;
    padding: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start; // Alinea el contenido a la izquierda
    border: #d5d8dc 0.5px solid;
    border-radius: 1rem;
    // -webkit-box-shadow: 9px 9px 10px -7px rgba(28, 40, 51, 1);
    // -moz-box-shadow: 9px 9px 10px -7px rgba(28, 40, 51, 1);
    // box-shadow: 9px 9px 10px -7px rgba(28, 40, 51, 1);
    align-self: center;
    h3 {
      font-size: 2rem;
      align-self: center;
    }
    p {
      font-size: 1.5rem;
      align-self: center;
      span {
        font-weight: 600;
      }
    }
  }
  .unity-controls {
    grid-column: 3 / 4;
    column-gap: 2rem;
    height: 4rem;
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    text-align: center;

    .btn-min {
      @extend %btn;
      background-color: red;
    }

    .stock-count {
      font-weight: 700;
      align-self: center;
      span {
        font-size: 2rem;
      }
    }

    .btn-plus {
      @extend %btn;
      background-color: #000000;
    }
  }

  .btn-remove {
    font-size: 3rem;
    background-color: #d5d8dc;
  }
}

.final-order {
  display: grid;
  grid-template-columns: 0.5fr 0.3fr;
  margin-bottom: 3rem;
  justify-content: center;

  .order-summary {
    background-color: #2c3642;
    margin-top: 2rem;
    color: #fff;
    margin-right: 4rem;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6rem 2rem;
    border: #d5d8dc 0.5px solid;
    border-radius: 1rem;
    box-shadow: 9px 9px 10px -7px rgba(28, 40, 51, 1);

    h2 {
      font-size: 2.5rem;
      padding: 0 0 3rem 0;
    }
    h3 {
      font-weight: 400;
      font-size: 1.5rem;
      align-self: center;
    }

    // Nueva clase para alinear los botones
    .order-buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 3rem;
    }
    .btn-goto {
      @extend %btn;
      color: #000;
      background-color: #4cbb10;
      font-size: 2rem;
    }
  }
}

.clear-cart {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 10rem 0 0;
  .btn-clear {
    @extend %btn;
    background-color: #ffc300;
    color: #000;
  }
}
